*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  padding: 0;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  line-height: 20px;
  color: #E2E8F0;
  background-color: #0F172A;
}

.header {
  position: relative;
  height: 200px;
  left: 0px;
}

.header-1 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.border {
  position: absolute;
  width: 95%;
  height: 0px;
  left: 0px;
  top: 200px;
  border: 0.5px solid #334155;
}

.gradient {
  position: absolute;
  width: 95%;
  height: 300px;
  left: 0;
  top: -152.78px;

  background: conic-gradient(from 182.43deg at 50% 50%, #FE79B9 0deg, #AD00FF 150deg, #2489FF 360deg);
  opacity: 0.92;
  filter: blur(60px);
  transform: rotate(-6.02deg);
}

.header-content {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  top: 10px;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0 45px;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.nav-link {
  font-size: 20px;
  font-weight: 500;
  color: #E2E8F0;
  text-decoratino: none;
  transition: color 0.15s ease-in;
}

.nav-link:hover,
.nav-link:focus {
  color: #AD00FF;
}

.user {
  position: relative;
  width: 600px;
  height: 200px;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 50px;
  line-height: 35px;
  font-weight: 800;
  font-size: 50px;
}

.info-list {
  padding: 0;
  margin: 0;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  list-style-type: none;
}

.info-link {
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  transition: color 0.15s ease-in;
  text-decoration: none;
  color: #E2E8F0;
}

.info-link:hover,
.info-link:focus {
  color:#FE79B9;
}

.info-item p {
  margin: 0;
}

.main {
  margin: 10px 150px;
}

main section {
  margin: 0;
  display: flex;
  gap: 40px;
}

h2 {
  width: 200px;
  font-weight: 700;
  font-size: 20px;
}

.skill-item,
.course-item {
  padding: 0 20px;
  line-height: 25px;
}

.footer {
  margin: 10px 150px;
}

.container-footer {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social {
  padding: 4px 8px;
  width: 120px;
  height: 25px;
  left: 181px;
  top: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;

  background: #F2F2F2;
  border: 0.5px solid #222222;
  border-radius: 10px;
}

.curs-link {
  width: 150px;
  height: 50px;
  left: 181px;
  top: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 2px;

  background: #F2F2F2;
  border: 0.5px solid #222222;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}