/*Правило меняющее расчет элементов*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Arial';
    src: url('assets/fonts/arial/arial-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Georgia';
    src: url('assets/fonts/georgia/georgia-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ul {
    list-style: none;
}

:root {
    --font-family: "Georgia", sans-serif;
    --second-family: "Arial", sans-serif;
  }

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    line-height: 1;
    background-color: #f2f4f6;
    background-repeat: no-repeat;
    background-position: top center;
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.page-header {
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
}

.pets-header {
    height: 120px;
    background: #fff;
}

.navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 190px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

.navbar-list {
    width: 443px;
    left: 0;
    display: flex;
    justify-content: space-between;
    order: 2;
}

.start-screen {
    margin-top: -90px;
    padding-top: 180px;
    padding-left: 30px;
    padding-right: 30px;
    background: url(assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    background-position: top center;
}

.start-screen-content {
    display: flex;
    justify-content: space-between;
}

.start-screen-image,
.about-image {
    display: flex;
}

.start-screen-content .content {
    width: 460px;
    margin-top: 163px; 
}

.about { 
    padding-top: 80px;
    padding-bottom: 100px;
}

.about-content {
    display: flex;
    gap: 120px;
    justify-content: center;
}

.about-content .content {
    width: 430px;
    margin-top: 14px;
}

.about-content p:first-of-type {
    margin: 24px 0;
}

h3 {
    width: 400px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: 0.06em;
    color: #545454;
}

.head {
    margin-left: 0;
    text-align: left;
}

.about-content p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4c4c4c;
}

.pets {
    position: relative;
    padding-top: 80px;
    padding-bottom: 100px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.ourpets {
    padding-top: 80px;
    padding-bottom: 100px;
    text-align: center;
}

.ourpets-content {
    display: flex;
    flex-direction: column;
    gap: 58px;
}

.slider-inner {
    margin-top: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 53px;
}

.slider {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.cards-container {
    display: flex;
    gap: 40px;
    row-gap: 30px;
    flex-wrap: wrap;
}

.pets-paginator {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 20px;
}

.card {
    width: 270px;
    height: 435px;
    border-radius: 9px;
    background: #fafafa;
}

.card p {
    margin: 30px auto;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
}

.about,
.help {
    background: #fff;
    background-repeat: no-repeat;
    background-position: top center;
}

.pets,
.donation {
    background: #f6f6f6;
    background-repeat: no-repeat;
    background-position: top center;
}

.page-footer {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background: url(assets/images/noise_transparent.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), url("/shelter/assets/images/noise_transparent@2x.png");
    background-position: top center;
}

.logo-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 35.2px;
    letter-spacing: 0.06em;
    color: #f1cdb3;
}

.logo-pets {
    color: #545454;
}

.logo-subtitle {
    text-align: center;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: #fff; 
}

.logo-subtitle-pets {
    color: #292929;
}

.navbar-link {
    display: inline-block;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    transition: transform 0.3s ease;
}

.link-main {
    color:#cdcdcd;
}

.link-pets {
    color: #545454;
}

.link-active {
    cursor: default;
    border-bottom: 3px solid #f1cdb3;
}

.link-main.link-active {
    color: #fafafa;
}

.link-pets.link-active {
    color:#545454
}

h2 {
    width: 310px;
    margin-bottom: 42px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #fff;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

h2 + p {
    width: 460px;
    margin-bottom: 42px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD; 
}

button,
.button {
    height: 52px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.btn-content,
.btn-start,
.btn-card {
    display: inline-flex;
    justify-content: center; /* center the content horizontally */
    align-items: center; /* center the content vertically */
    border-color: transparent; /* hide button border */
    border-radius: 100px;
    background: #f1cdb3;
}

.btn-start {
    width: 207px;
}

.btn-content {
    width: 261px;
    margin-top: 60px;
}

.btn-slider,
.btn-container {
    width: 52px;
    text-align: center;
    border-radius: 100px;
    border: 2px solid #f1cdb3;
    border: 2px 0px 0px 0px;
}

.btn-number {
    background-color: #F1CDB3;
    border: #F1CDB3;
}

.btn-card {
    padding: 15px 40px;
    width: 187px;
    border: 2px solid #f1cdb3;
    background: #fafafa;
}

#btn-pets {
    width: 261px;
    margin-top: 60px;
}

.help {
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 100px;
    padding-left: 40px;
    padding-right: 40px;
}

.help-list {
    margin-left: auto;
    margin-right: auto;
    margin-top: 59px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 55px;
    column-gap: 120px;
}

.help-item {
    height: 113px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
}

.donation {
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 100px;
}

.donation-content {
    max-width: 915px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-donation {
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 19px;
}

.content-donation h3 {
    width: 300px;
}

.content-donation p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}

.credit-card {
    padding: 10px 14px 10px 15px;
    width: 349px;
    height: 43px;
    border-radius: 9px;
    background: #f1cdb3;
}

h4 {
    padding-left: 45px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    background-image: url(assets/icons/credit-card.svg);
    background-repeat: no-repeat;
}

.donation-text {
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #b2b2b2;
}

.donation-image {
    display: flex;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-title {
    width: 279px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #fff;
}

.footer-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #f1cdb3;
}

.footer-contacts,
.footer-locations {
    padding-top: 16px;
    margin-bottom: 60px;
    box-sizing: border-box;
}

.footer-contacts {
    width: 278px;
}

.footer-locations {
    width: 302px;
}

.footer-mail,
.footer-phone {
    height: 32px;
    padding-left: 60px;
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.footer-mail {
    background-image: url(assets/icons/mail.svg);
    background-repeat: no-repeat;
}

.footer-phone {
    background-image: url(assets/icons/phone.svg);
    background-repeat: no-repeat;
}

.footer-locations {
    width: 302px;
}

.footer-image {
    display: flex;
}

.location {
    height: 32px;
    padding-left: 42px;
    display: flex;
    align-items: center;
    background-image: url(assets/icons/pin.svg);
    background-repeat: no-repeat;
}

.footer-locations a:first-of-type {
    height: 46px;
    margin-top: 34px;
    margin-bottom: 32px;
}

.link-main:hover:not(.link-active) {
    color: #fafafa;
    transition: 0.5s linear;
}

.link-pets:hover:not(.link-active) {
    color: #292929;
    transition: 0.5s linear;
}

.card:hover {
    background-color: #fff;
    box-shadow: 0px 2px 35px 14px #0D0D0D0A;
    cursor: pointer;
    transition: 0.5s linear;
}

.card:hover .btn-card {
    background-color: #FDDCC4;
    border: #fddcc4;
    transition: 0.5s linear;
}

.btn-start:hover,
.btn-content:hover {
    background: #FDDCC4;
    transition: 1s linear;

}

.btn-slider:hover,
.btn-container:hover:not(.disabled) {
    background: #FDDCC4;
    border: #FDDCC4;
    transition: 0.5s linear;
    cursor: pointer;
}

.disabled {
    color: #CDCDCD;
    border: 2px solid #CDCDCD;
}

@media (max-width: 1279px) {
    .ourpets {
        padding: 80px 30px 75px 30px;
    }

    .ourpets-content {
        gap: 0;
    }

    .hide-pets {
        display: none;
    }

    .cards-container {
        margin-top: 28px;
        margin-bottom: 40px;
        justify-content: center;
        gap: 30px 40px;
    }
}

@media (max-width: 1130px){
    .pets {
        padding-left: 70px;
        padding-right: 70px;
    }

    .hide {
        display: none;
    }

    .slider-inner {
        gap: 7vw;
    }

    .help {
        padding-left: 30px;
        padding-right: 30px;
    }

    .help-list {
        column-gap: 9vw;
    }
}

@media (max-width: 970px){
    .page-header {
        padding-left: 30px;
        padding-right: 30px;
    }

    .start-screen {
        padding-top: 150px;
    }

    .start-screen-content {
        justify-content: center;
        flex-wrap: wrap;
    }

    .start-screen-content .content {
        width: 460px;
        margin-top: 0;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
    }

    .btn-start {
        align-self: center;
    }

    .start-screen-image {
        height: 593px;
    }

    .about-content {
        flex-wrap: wrap;
        gap: 80px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .about-content .content {
        margin-top: 0;
        order: -1;
    }

    .pets {
        padding-left: 40px;
        padding-right: 40px;
    }

    .slider-inner {
        gap: calc(5px + 5%);
    }

    .help-list {
        column-gap: 18vw;
    }

    .help-item {
        width: 170px;
    }

    .donation {
        padding-left: 40px;
        padding-right: 40px;
    }

    .donation-content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .content-donation {
        margin-bottom: 60px;
        order: -1;
    }

    .page-footer {
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .footer-content {
        flex-wrap: wrap;
        gap: 65px 60px;
        justify-content: center;
    }

    .footer-contacts,
    .footer-locations {
        padding-top: 0;
        margin-bottom: 0;
    }
}

@media (max-width: 830px){
    .pets {
        padding-left: 30px;
        padding-right: 30px;
    }

    .slider-inner {
        gap: 2vw;
    }
}

@media (max-width: 768px){
    .start-screen-image {
        margin-right: -140px;
    }

    .slider-inner {
        gap: 12px;
    }

    .help {
        padding-left: 69px;
        padding-right: 69px;
    }

    .help-item {
        width: 170px;
    }

    .help-list {
        column-gap: 7.8vw;
    }
}

@media (max-width: 767px) {
    .page-header {
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbar input[type="checkbox"],
    .navbar .hamburger-lines {
        display: block;
    }

    .navbar {
        display: flex;
        position: relative;
        height: 60px;
    }

    .navbar input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 22px;
        width: 30px;
        top: 19px;
        right: 0;
        z-index: 5;
        opacity: 0;
    }

    .navbar .hamburger-lines {
        display: block;
        height: 22px;
        width: 30px;
        position: absolute;
        top: 19px;
        right: 0;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .line {
        display: block;
        height: 2px;
        width: 100%;
    }

    .line-main {
        background: #F1CDB3;
    }

    .line-pets {
            background: #000000;
        }

    .navbar-list {
        display: none;
    }

    .start-screen {
        padding-left: 10px;
        padding-right: 10px;
    }

    .start-screen-image {
        margin: 0;
    }

    .start-screen-content .content {
        width: 300px;
        margin-top: 0; 
    }

    h2 {
        text-align: center;
    }

    h2 + p {
        width: 300px;
        margin-bottom: 42px;
        text-align: center;
    }

    .pets {
        padding: 42px 10px;
    }

    .slider-inner {
        margin-top: 41px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px 80px;
    }

    .slider {
        order: -1;
        gap: 10vw;
    }

    .help {
        padding: 42px 15px;
    }

    .help-list {
        gap: 60px 55px;
    }

    .help-item {
        width: 130px;
    }

    .donation {
        padding: 43px 10px;
    }

    .ourpets {
        padding: 42px 10px;
    }
}

@media (max-width: 610px) {
    .start-screen-image {
        width: 400px;
        height: 100%;
        margin-right: -35px;
    }

    .slider-inner {
        justify-content: center;
        gap: 20px 1vw;
    }

    .slider {
        justify-content: space-around;
        order: 0;
    }

    .hide-second {
        display: none;
    }

    .help-item {
        height: 87px;
    }

    .help-item img {
        width: 50px;
        height: 50px;
    }

    .help-item p {
        font-size: 15px;
    }

    .cards-container {
        margin-top: 40px;
        margin-bottom: 42px;
    }

    .hide-pets-second {
        display: none;
    }
}

@media (max-width: 425px) {
    h2, h3 {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        font-family: Georgia;
        font-size: 25px;
        font-weight: 400;
        line-height: 32.5px;
        letter-spacing: 0.06em;
        text-align: center;
    }

    .head {
        margin: 0 auto;
        text-align: center;
    }

    .start-screen-content .content {
        margin-bottom: 105px;
    }

    .start-screen-image {
        width: 260px;
        height: 100%;
        margin-right: -35px;
    }

    .about {
        padding: 42px 10px;
    }

    .about-content {
        margin-left: 15px;
        margin-right: 15px;
        gap: 42px;
    }

    .about-content p {
        margin-left: 15px;
        margin-right: 15px;
        text-align: justify;
    }

    .about-content p:first-of-type {
        margin: 24px 15px 22px 15px;
    }

    .about-image {
        width: 260px;
        height: 100%;
    }

    .slider-inner {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px 25vw;
    }

    .slider {
        order: -1;
    }

    .btn-content {
        margin-top: 41px;
    }

    .help-list {
        gap: 30px;
    }
    
    .help-content h3 {
        width: 222px;
    }

    .credit-card {
        width: 281px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
    }

    h4 {
        font-size: 15px;
        line-height: 16.5px;
    }

    .content-donation {
        margin-bottom: 41px;
    }

    .content-donation p {
        text-align: center;
        line-height: 24px;
        letter-spacing: normal;
    }

    .donation-text {
        margin-left: 10px;
        margin-right: 10px;
        text-align: justify;
    }

    .pets-paginator {
        gap: 10px;
    }

    .page-footer {
        padding: 30px 10px 0 10px;
    }

    .footer-content {
        gap: 40px;
    }

    .footer-title,
    .footer-locations {
        font-size: 25px;
    }

    .footer-mail {
        margin-left: 12px;
    }

    .footer-phone {
        margin-left: 18px;
    }

    .footer-locations a:first-of-type {
        margin: 40px 0;
    }

    .footer-image {
        width: 260px;
    }
}

@media (max-width: 320px) {
    .help-list {
        margin-top: 42px;
        justify-content: start;
    }

    .donation-image {
        width: 260px;
    }
}
