* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background: #222222;
}

.header-box {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    margin: 20px;
}

.header-nav a {
    margin: 18px 20px;

    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;

    cursor: pointer;
}

.header-nav a:hover {
    color: #ff3c3c;
}

.header-burger {
    display: none;
}

.hero {
    height: 862px;
    background: #222222;
}

.hero-box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.hero-achievement {
    min-width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.hero-achievement p {
    font-family: "Mulish", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    color: #FFFFFF;

    white-space: nowrap;
    writing-mode: sideways-lr;
}

.hero-second-text {
    display: none;
}

.hero-line {
    width: 1px;
    height: 608px;
    background-color: #FFFFFF;
}

.hero-description {
    padding: 0 20px;
    flex-grow: 1;

    display: grid;
    grid-template-columns: 740px 220px 280px;
    grid-column-gap: 40px;
    
}

.hero-description--main {
    margin: 160px 0;
}

.hero-description--count {
    display: flex;
    gap: 60px;
}

.count {
    display: flex;
    gap: 8px;
}

.count-title {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 48px;
    line-height: 112%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.count-text {
    margin-top: 8px;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

h1 {
    margin: 40px 0;

    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 116px;
    line-height: 114%;
    color: #FFFFFF;
}

.hero-title--text {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
}

.scrolldown {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.scrolldown:hover {
    p {
        color: #ff3c3c;
    }

    svg path {
        stroke: #ff3c3c;
    }
}

.scrolldown p {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.hero-description-image {
    align-self: center;
}

.hero-description-image img {
    width: 220px;
    height: 220px;
    object-fit: cover;
}

.hero-description-foto {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.hero-description-foto {
    max-width: 280px;
}

.hero-description-foto img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.hero-description-foto p {
    max-width: 220px;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: right;
    color: #FFFFFF;
}

@media (max-width: 1390px) {
    h1 {
        font-size: calc(68px + 48 * (100vw - 768px) / 622);
    }

    .hero-description {
        grid-template-columns: 2fr 1fr;
    }

    .hero-description-image {
        display: none;
    }
}

@media (max-width: 769px) {
    .header-nav {
        display: none;
    }

    .header-burger {
        padding-right: 20px;
        width: 60px;
        height: 60px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 8px;

        cursor: pointer;
        
    }

    .burger-line-first {
        width: 12px;
        height: 2px;
        background: #FFFFFF;
    }

    .burger-line-second {
        width: 20px;
        height: 2px;
        background: #FFFFFF;
    }
    
    .hero {
        height: 758px;
    }

    .hero-first-text {
        display: none;
    }

    .hero-second-text {
        display: block;
    }

    .hero-line {
        height: 432px;
    }

    .hero-description {
        grid-template-columns: 408px 220px;
        grid-column-gap: 20px;
    }

    .hero-description-foto {
    padding-bottom: 0;
    }
}